<div class="navbar-collapse collapse navbar-responsive-collapse">
  <ul class="nav navbar-nav">
    <li><%= link_to t('layouts.navigation.home'), root_path  %></li>
    <li><%= link_to t('activerecord.models.contact.other'), contacts_path  %></li>
    <li><%= link_to t('activerecord.models.tracker.report'), trackers_path  %></li>
  </ul>
</div>