<div class="navbar navbar-default navbar-static-top">
  <div class="container">

    <a class="navbar-brand" href="#"><%= t('logo_name') %></a>
    <%= render 'menu/application_menu' %>

  </div>
</div>