<div class="navbar-collapse collapse navbar-responsive-collapse">
  <ul class="nav navbar-nav">
    <li><%= link_to t('layouts.navigation.home') , root_path  %></li>
    <li><%= link_to t('layouts.navigation.contact'), new_contact_form_path  %></li>
    <li><%= link_to t('layouts.navigation.about'), about_home_index_path  %></li>
  </ul>
</div>