<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>UUID</th>
      <th>Page</th>
      <th>Moment</th>

    </tr>
  </thead>

  <tbody>
    <% @trackers.each do |tracker| %>
      <tr>
        <td><%= tracker.uuid %></td>
        <td><%= tracker.page %></td>
        <td><%= tracker.moment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


